body {
  background-color: #eee;
  text-align: center;
  margin: 16px;
}

.box {
  /* text-align: center; */
}

#viewport {
  background-color: white;
  display: inline-block;
  vertical-align: top;
  line-height: 0;
  padding: 0;
  margin: 0;
  position: relative;
  width: 256px;
  height: 256px;
}

#backCanvas, #headCanvas, #eyesCanvas, #mouthCanvas, #noseCanvas {
  /* position: absolute; */
  left: 0;
  top: 0;
  image-rendering: pixelated;
  position: absolute;
  /* margin-left: -128px; */
  /* position: 0; */
}

#backCanvas {
  z-index: 0;
}

#headCanvas {
  z-index: 1;
  /* background-color: rgba(0, 0, 255, 0.1); */
}

#eyesCanvas {
  z-index: 2;
  /* background-color: rgba(255, 255, 0, 0.1); */
}

#mouthCanvas {
  z-index: 3;
  /* background-color: rgba(255, 255, 0, 0.1); */
}

#noseCanvas {
  z-index: 4;
  /* background-color: rgba(255, 0, 255, 0.1); */
}


#library {
  margin: 16px 8px;
  z-index: 100;
}

.noseLib, .headLib, .mouthLib, .eyesLib {
}

.headElement, .eyesElement, .mouthElement, .noseElement {
  cursor: pointer;
  background-color: cyan;
  /* border: 1px black solid; */
}
