body {
  background-color: #fff;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

#viewport {
  background-color: white;
  display: inline-block;
  height: 512px;
  line-height: 0;
  margin: 0 0 16px 0;
  padding: 0;
  position: relative;
  vertical-align: top;
  width: 512px;
}

#backCanvas,
#headCanvas,
#eyesCanvas,
#mouthCanvas,
#noseCanvas {
  display: none;
  image-rendering: pixelated;
  left: 0;
  position: absolute;
  top: 0;
}

#safezone {
  position: absolute;
  z-index: 1;
  background-color: red;
  image-rendering: pixelated;
  filter: opacity(0.2);
}

#backCanvas {
  z-index: 2;
}

#headCanvas {
  z-index: 3;
}

#eyesCanvas {
  z-index: 4;
}

#mouthCanvas {
  z-index: 5;
}

#noseCanvas {
  z-index: 6;
}

#mergedCanvas {
  z-index: 7;
  height: 512px;
  width: 512px;
}

#tabs {
  border-bottom: 1px solid black;
  margin: auto;
  padding: 4px 0 4px 0;
  width: 512px;
}

.tabOn,
.tabOff {
  padding: 4px 12px 4px 12px;
}

.tabOn {
  background-color: black;
  color: #eee;
  user-select: none;
}

.tabOff {
  background-color: #eee;
  cursor: pointer;
}

#library {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 512px;
  z-index: 100;
}

.headThumbOn img,
.headThumbOff img,
.eyeThumbOn img,
.eyeThumbOff img,
.noseThumbOn img,
.noseThumbOff img,
.mouthThumbOn img,
.mouthThumbOff img {
  height: 56px;
  margin: 4px;
  object-fit: contain;
  width: 56px;
}

/* .mouthThumbOn img,
.mouthThumbOff img {
  height: 32px;
  width: 80px;
} */

#library img {
  image-rendering: pixelated;
}

.showLib {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.hideLib {
  display: none;
}

#heads,
#eyes,
#noses,
#mouths {
  margin-bottom: 4px;
}

.headThumbOff,
.eyeThumbOff,
.noseThumbOff,
.mouthThumbOff,
.headThumbOn,
.eyeThumbOn,
.noseThumbOn,
.mouthThumbOn {
  cursor: pointer;
  height: 64px;
  line-height: 0;
  width: 64px;
}

.headThumbOff,
.eyeThumbOff,
.noseThumbOff,
.mouthThumbOff {
  background-color: #eee;
}

.headThumbOn,
.eyeThumbOn,
.noseThumbOn,
.mouthThumbOn {
  background-color: #ccc;
}

button {
  cursor: pointer;
}

#download-box {
  margin: auto;
  margin-bottom: 8px;
  margin-top: 32px;
  width: 512px;
}

.copyright {
  font-size: 0.75em;
  margin: auto;
  width: 512px;
}
