body {
  background-color: #fff;
  text-align: center;
  margin: 0px;
  /* font-family: "Roboto"; */
  font-size: 16px;
}

#viewport {
  background-color: white;
  display: inline-block;
  vertical-align: top;
  line-height: 0;
  padding: 0;
  margin: 0 0 16px 0;
  position: relative;
  width: 512px;
  height: 512px;
}

#backCanvas, #headCanvas, #eyesCanvas, #mouthCanvas, #noseCanvas {
  left: 0;
  top: 0;
  image-rendering: pixelated;
  position: absolute;
  display: none;
}

#backCanvas {
  z-index: 0;
}

#headCanvas {
  z-index: 1;
}

#eyesCanvas {
  z-index: 2;
}

#mouthCanvas {
  z-index: 3;
}

#noseCanvas {
  z-index: 4;
}

#mergedCanvas {
  width: 512px;
  height: 512px;
}

#tabs {
  border-bottom: 1px solid black;
  width: 512px;
  margin: auto;
  padding: 4px 0px 4px 0px;
}

.tabOn, .tabOff {
  padding: 4px 12px 4px 12px;
}

.tabOn {
  background-color: black;
  user-select: none;
  color: #eee;
}

.tabOff {
  background-color: #eee;
  cursor: pointer;
}

#library {
  z-index: 100;
  width: 512px;
  margin: auto;
  display: flex;
  flex-direction: column;

}

#library img {
  image-rendering: pixelated;
}

.showLib {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
}

.hideLib {
  display: none;
}

#heads, #eyes, #noses, #mouths {
  margin-bottom: 4px;
}

.headLib, .eyesLib, .noseLib, .mouthLib {
  line-height: 0;
  /* background-color: red; */
}

.eyesLib img, .noseLib img {
  width: 64px;
  height: 64px;
}

.mouthLib img {
  width: 80px;
  height: 32px
}

.headElement, .eyesElement, .mouthElement, .noseElement {
  cursor: pointer;
  background-color: #eee;
}
.headElementActive, .eyesElementActive, .mouthElementActive, .noseElementActive {
  cursor: pointer;
  background-color: #ccc;
}

button {
  cursor: pointer;
}

#download-box {
  width: 512px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 8px;
}

.copyright {
  font-size: 0.75em;
  width: 512px;
  margin: auto;
}
